<div class="page">
  <section class="card">
    <form class="form-login" #loginForm="ngForm">
      <h2 class="form-login-heading">ログイン</h2>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input [(ngModel)]="account.email" name="emailAddress" type="email" id="inputEmail" 
      class="form-control" placeholder="E-mail" required autofocus
      #email="ngModel">
      <label for="inputPassword" class="sr-only">Password</label>
      <input [(ngModel)]="account.password" name="password" type="password" id="inputPassword" 
      class="form-control" placeholder="Password" required 
      #password="ngModel">
      <button class="btn btn-lg btn-info btn-block" type="submit"
      (click)="submitLogin()" [disabled]="!loginForm.form.valid">LOGIN</button>
    </form>
    <a routerLink="/account/sign-up" class="login-link">アカウントを作る</a>
  </section>
</div>

 